body {
    --mu-hue: 189;
    --mu-saturation: 100%;
    --mu-light: 97%;
    --mu-color: hsl(183, 100%, 97%);
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #262b2f;
    color: white;
    padding: 1.2rem;
    margin: 0;
}

nav {
    padding: 1em;
    background-color: hsl(183, 100%, 16%);;
    display: flex;
    gap: 0.5em;
}

nav>a {
    background-color: hsl(183, 100%, 34%);;
    display: inline-block;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em;

}