* {
    box-sizing: border-box;
}
:host { /*mu-card*/
    --clr-mu-light: #00A3AD;
    --clr-mu-dark: #004851;
    --clr-dark: #2d313b;
    --clr-light: whitesmoke;
    --b-radius: 0.25rem;
    vertical-align:top;
}
#mu-card {
    box-sizing: border-box;
    padding: 0.75em 0;
    display: block;
    background: var(--clr-light);
    border-radius: 0.25rem;
}

#mu-card__header {
    box-sizing: border-box;
    background: var(--clr-mu-dark);
    color: var(--clr-light);
    margin: 0.25em 3em 0.5em 0;
    padding: 0.5em 3em 0.5em 1em;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    border-left: 0;
}
#mu-card__content {
    padding: 0.25em 1em;;
    background: var(--clr-light);
    color: var(--clr-dark);
}
#mu-card__footer {
    text-align: right;
    box-sizing: border-box;
    background: var(--clr-mu-light);
    color: var(--clr-light);
    font-style: italic;
    margin: 0.5em 0 0 3em;
    padding: 0.5em 1em 0.5em 3em;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    border-right: 0;
}

#mu-card__header:empty, #mu-card__footer:empty {
    display: none;
}