:host, #mu-card, #mu-card__content {
    display: grid;
    grid-template-rows: subgrid;
    gap: 0;
}

#mu-card__header, #mu-card__footer {
    display: grid;
    align-content: center;
}

#mu-card__content:first-child, #mu-card__content:last-child {
    grid-row: span 2;
}

:host, #mu-card, #mu-card__content:only-child {/*mu-subgrid-card*/
    grid-row: span 3;
}